@{
    ViewBag.Title = "About";
}

@*<div id="example">
        <div class="demo-section k-content">
            <ul class="fieldlist">
                <li>
                    <label for="simple-input">username</label>
                    <input id="simple-input" type="text" class="k-textbox" style="width: 100%;" />
                </li>
                <li>
                    <label for="simple-input">password</label>
                    <input id="simple-input" type="text" class="k-textbox" style="width: 100%;" />
                </li>
                <li>
                    <input type="checkbox" id="eq1" class="k-checkbox" checked="checked">
                    <label class="k-checkbox-label" for="eq1">Rear side airbags</label>
                </li>
                <li>
                    <button class="k-button k-primary pull-right">Login</button>
                </li>
            </ul>
            <style>
                .fieldlist {
                    margin: 0 0 -2em;
                    padding: 0;
                }

                    .fieldlist li {
                        list-style: none;
                        padding-bottom: 2em;
                    }

                    .fieldlist label {
                        display: block;
                        padding-bottom: 1em;
                        font-weight: bold;
                        text-transform: uppercase;
                        font-size: 12px;
                        color: #444;
                    }
            </style>
        </div>
    </div>*@

<div id="example">
    <div class="demo-section k-content">
        <h4>Login</h4>
        <ul class="fieldlist">
            <li>
                <label for="simple-input">Username</label>
                <input id="simple-input" type="text" class="k-textbox" style="width: 100%;" placeholder="username" />
            </li>
            <li>
                <label for="simple-input">Password</label>
                <input id="simple-input" type="password" class="k-textbox" style="width: 100%;" placeholder="password"/>
            </li>
            <li>
                <input type="checkbox" id="eq3" class="k-checkbox">
                <label class="k-checkbox-label" for="eq3">Remember me</label>
            </li>
            <li>
                <button class="k-button k-primary pull-right">Login</button>
            </li>
        </ul>
    </div>
    <style>
        .fieldlist {
            margin: 0 0 -1em;
            padding: 0;
        }

            .fieldlist li {
                list-style: none;
                padding-bottom: 1em;
            }
    </style>
</div>     